body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #2c3e50;
    color: white;
}

.title{
    font-family: 'Georgia', serif;
    font-size: 20px;
    font-weight: bold;
}

.perallocated{
    width: 500px;
}

.assets-and-allocation {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* This will allow the children to wrap onto the next line */
    align-items: flex-start; /* Aligns children at the start of the cross axis */
    width: 100%; /* Ensures it takes the full width */
}

.asset1, .perallocated {
    flex: 1; /* Allows both children to grow and take up available space */
    min-width: 250px; /* Set a minimum width for each child to ensure they don't become too small */
    max-width: 400px;
}

.current-year{
    width: 300px;
    max-height: 70px;
    background: #34495e;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center; 
}

.dashboard-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-content: center; 
    flex-wrap: wrap;
}

.balance, .risk-profile{
    background: #34495e;
    padding: 10px;
    border-radius: 5px;
    text-align: center; 
}

.market-condition {
    background: #34495e;
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* Centers text horizontally */
    justify-content: center; /* Centers content horizontally in flexbox */
    align-items: center; /* Centers content vertically in flexbox */
    height: 100%; /* Makes sure the div takes full height of its container */
    width: 500px;
}

.portfolio, .performance, .returns, .profits {
    background: #34495e;
    padding: 10px;
    border-radius: 5px;
}

.header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
}

.asset > div {
    background: #34495e;
    padding: 10px;
    border: 1px solid #34495e; /* Adds a border to the input box */
    border-radius: 5px; /* Rounds the corners of the input box */
    margin: 5px 0;
    text-align: center; 
}

.percentallocated .input-box {
    width: 100%; /* Makes the input box take up the full width of its container */
    padding: 7.5px; /* Adds some padding inside the input box */
    margin: 5px 0; /* Adds some margin between the input boxes */
    border: 1px solid #34495e; /* Adds a border to the input box */
    border-radius: 5px; /* Rounds the corners of the input box */
    background-color: #34495e; /* Sets the background color of the input box */
    color: white; /* Sets the text color inside the input box */
    text-align: center; /* Centers the text inside the input box */
}

.chart {
    background: #8e44ad;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    /* Add more styles for the chart appearance */
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a!important;
}

.pb-2, .py-2 {
    padding-bottom: 0.5rem!important;
}

.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}

.h-100 {
    height: 100%!important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.card {
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

.fa-dollar-sign:before {
    content: "\f155";
}

*, ::after, ::before {
    box-sizing: border-box;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.custom-button-size {
    width: 150px;
    height: 50px;
    font-size: 16px;
}
.modal-body{
    color: black;
}